{% extends 'users/base.html' %} {% block body %}
<h1 class="text-2xl m-6">Login User 👤</h1>

<div class="container py-5">
  <form
    class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4"
    method="POST"
  >
    {% csrf_token %}
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2" for=""
        >Username</label
      >
      <div
        class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10"
      >
        {{ form.username }}
      </div>
    </div>

    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2" for=""
        >Password</label
      >
      <div
        class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10"
      >
        {{ form.password }}
      </div>
    </div>
    <button type="submit" class="text-white bg-red-400 px-5 py-2 my-5">
      Login
    </button>
  </form>
</div>

<p class="px-8 py-8">
  <a class="text-indigo-500" href="{% url 'password_reset' %}"
    >Forgot Password? Click Here to Reset</a
  >
</p>

<p class="px-8 py-8">
  <a class="text-indigo-500" href="{% url 'register' %}"
    >Don't have an account? Click Here to Register</a
  >
</p>

{% endblock %}
